<li>
	<div class="feed">
		<a href="" class="feed-settings">
			<span class="fa fa-caret-down"></span>
		</a>
		<h3>
			<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
			<a href="#">Vitor Freitas</a>
			<span>3 minutes ago</span>
		</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		</p>
		<div class="interaction">
			<a href="#">
				<span class="fa fa-thumbs-o-up"></span>
				Like <span class="like-count">(0)</span>
			</a>
			<a href="#">
				<span class="fa fa-comment"></span>
				Comment <span class="comment-count">(0)</span>
			</a>
		</div>
		<div class="comments"></div>
	</div>
</li>