.compose {
  border-bottom: 1px solid #e9e9e9;
  display: none;
}

.compose textarea {
  margin-bottom: 10px;
}

.compose .post-length {
  color: #888;
  font-size: 14px;
  float: right;
}

.stream li {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e9e9e9;
}

.stream li:last-child {
  border-bottom: none;
}

.post {
  padding: 15px 20px;
}

.post:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

li.feed:last-child .post {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.feed .feed-portrait {
  width: 50px;
  float: left;
}

.feed .feed-portrait img {
  width: 100%;
  border-radius: 30px;
}

.feed .feed-content {
  margin-left: 60px;
}

.feed h3 {
  font-size: 1.4em;
  vertical-align: middle;
  margin-bottom: 0;
}

.feed h3 a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  vertical-align: middle;
}

.feed h3 a:hover {
  color: #4285f4;
  text-decoration: underline;
}

.feed h3 span {
  color: #bbb;
  font-size: .8em;
  vertical-align: middle;
}

.feed h3 span.separator {
  font-size: 8px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.feed p {
  margin: 5px 0 15px;
  font-weight: 300;
  font-size: 1.4em;
}

.feed .interaction a {
  text-decoration: none;
  font-size: 1.2em;
  margin-right: .7em;
  color: #555;
}

.feed .interaction a:hover {
  color: #4285f4;
}

.feed .interaction a span {
  margin-right: .1em;
}

.feed .feed-settings {
  float: right;
  font-size: 1.2em;
  color: #bbb;
  padding: 5px;
  margin-right: -5px;
  margin-top: -5px;
}

.feed .feed-settings:hover {
  color: #888;
}

.stream-update {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e9e9e9;
  display: none;
}

.stream-update a {
  color: #888;
  background-color: #f9f9f9;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.stream-update a:hover {
  background-color: #f4f4f4;
}

.stream-loading {
  color: #888;
  background-color: #f9f9f9;
  border-top: 1px solid #e9e9e9;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: none;
}

.comments {
  display: none;
}

.write-comment {
  border-top: 1px solid #e9e9e9;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

.write-comment .comment-portrait {
  width: 50px;
  float: left;
  text-align: right;
}

.write-comment .comment-portrait img {
  width: 30px;
  border-radius: 20px;
}

.write-comment .comment-field {
  margin-left: 60px;
}

.write-comment .comment-field input {
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  line-height: 1.5;
  padding: 5px 10px;
}

.comment-help {
  background-color: #f4f4f4;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
}

.comments .comment {
  background-color: #f4f4f4;
  padding: 10px 20px;
  font-size: .9em;
}

.comments ol li {
  border: none;
}

.comments .comment .interaction > a {
  margin-right: 0;
}

.comments .comment .interaction > span {
  color: #bbb;
  font-size: 11px;
}

.comments .comment .interaction > span.separator {
  margin-right: 5px;
  margin-left: 5px;
}

.comments .feed p {
  margin-top: 0;
  margin-bottom: 10px;
}

.comments .feed p a.comment-user {
  font-weight: 600;
  color: #555;
  text-decoration: none;
  margin-right: 5px;
}

.comments .feed p a.comment-user:hover {
  color: #4285f4;
  text-decoration: underline;
}

.comments .feed .feed-portrait {
  text-align: right;
}

.comments .feed .feed-portrait img {
  width: 30px;
}
