.compose {
  border-bottom: 1px solid #e9e9e9;
  display: none;
}

.compose textarea {
  margin-bottom: 10px;
}

.compose .post-length {
  color: #888;
  font-size: 14px;
  float: right;
}

.stream li {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e9e9e9;
}

.stream li:last-child {
  border-bottom: none;
}

.stream li:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.stream .feed {
  padding: 20px 20px;
}

.stream .feed h3 img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.stream .feed h3 {
  height: 25px;
  font-size: 1.4em;
  vertical-align: middle;
  font-weight: 400;
}

.stream .feed h3 a {
  text-decoration: none;
  color: #555;
  line-height: 25px;
  margin-left: 10px;
  float: left;
}

.stream .feed h3 span {
  color: #bbb;
  font-size: .8em;
  margin-left: 10px;
  float: left;
  line-height: 25px;
}

.stream .feed p {
  margin: 10px 0;
}

.stream .feed .interaction a {
  text-decoration: none;
  font-size: 1.2em;
  margin-right: .7em;
  color: #555;
}

.stream .feed .interaction a:hover {
  border-bottom: 1px solid;
}

.stream .feed .interaction a span {
  margin-right: .1em;
}

.stream .feed .feed-settings {
  float: right;
  font-size: 1.2em;
}

.stream-update {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f9f9f9;
  display: none;
}

.stream-update a {
  color: #888;
  text-decoration: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  text-align: center;
}