<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Woid</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cover.css">
</head>
<body>
  <div class="cover">
    <div class="wrapper">
      <header>
        <a href="" class="button button-primary pull-right">Sign up</a>
        <a href="{% url 'login' %}" class="button pull-right">Log in</a>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="">Features</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">About</a></li>
        </ul>
      </header>
      <div class="container">
        <h1>Woid</h1>
        <p>Enterprise Developer Network</p>
      </div>
    </div>
  </div>
  <main>
    <section>
      <div class="wrapper">
        <h2>Collaborative Workspace</h2>
        <p>Enhance the collaboration of your team with a rich workspace.</p>
      </div>
    </section>
    <section>
      <div class="wrapper">
        <h2>Integrate your source repositories</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </section>
  </main>
</body>
</html>