{% extends 'base.html' %}

{% block contextmenu %}
	<h2>Feed Groups</h2>
	<ul>
		<li>
			<a href="">
				HQS Plus
				<span class="notifications">3</span>
			</a>
		</li>
		<li>
			<a href="">
				Software Factory
				<span class="notifications">99</span>
			</a>
		</li>
		<li>
			<a href="">
				Juiz de Fora
				<span class="notifications">12</span>
			</a>
		</li>
		<li><a href="">São Paulo</a></li>
		<li>
			<a href="">
				<span class="fa fa-lock"></span>
				Sacins Creed
			</a>
		</li>
	</ul>
{% endblock contextmenu %}

{% block main %}

<div class="content-header">
	<h2>
		Feed
		<button type="button" class="compose">
			<span class="fa fa-send"></span>
			Compose
		</button>
	</h2>
</div>
<div class="content-body">
	<ol class="stream">
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
		<li>
			<div class="post">
				<h3>
					<img src="https://avatars1.githubusercontent.com/u/1429529?v=2&s=460">
					<a href="">Vitor Freitas</a>
					<small>3 minutes ago</small>
				</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p>
				<div class="interaction">
					<a href="">
						<span class="fa fa-thumbs-o-up"></span>
						Like (0)
					</a>
					<a href="">
						<span class="fa fa-comment"></span>
						Comment (0)
					</a>
				</div>
				<div class="comments"></div>
			</div>
		</li>
	</ol>
</div>
{% endblock main %}